<h1>Admin::Dashboard</h1>
<p><%= link_to t(".category"), admin_categories_path %></p>
<br/>
<p><%= link_to t(".articles"), admin_articles_path %></p>
<br/>
<p><%= link_to t(".stores"), admin_stores_path %></p>
<br/>
<p><%= link_to "Вопросы ответы новые", hidden_questions_path %></p>
