.work h4{
        font-size: 22px;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 25px;
        width: 100%;
        z-index: 99999999;
 }

a.link {
        color: #404040;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
}

a.link:hover {
        text-decoration: none;
}
