<% if target.errors.any? %>
<div id="errorExplanation">
  <h4> <%= t("errors.messages.activerecord.title") %>(<%= target.errors.count %>) :</h4>
  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>


