<div class="posts single">
  <h1>Как купить мёд</h1>

<div class="post">
<ol>
  <li>На страничке каталога продукции вы выбираете понравившийся сорт  и переходите по соответствующей ему ссылке на страницу с подробным описанием и формой оформления заказа.</li>
  <li>Выбираете подходящую по объёму тару, указываете нужное количество товара и нажимаете  кнопку «добавить в корзину».</li>
  <li>Затем переходите в корзину, проверяете заказ, заполняете форму с вашими контактными данными и отправляете заказ. В этот же день, если заказ отправлен не позднее 19 часов, с вами свяжется оператор и уточнит сроки доставки.</li>

</ol>

<p>
  Также, вы можете сделать заказ по телефону +7-928-604-78-34
</p>


<b>Уважаемый покупатель!</b>
<p>
  <br/>В нашем каталоге цена на мёд обозначена за 1 килограмм. Это значит, что любой из указанных сортов вы можете приобрести весом от 1 килограмм и более. <br/>
  Мы используем как стеклянную, так и пластиковую тару для фасовки мёда. В настоящее время вы можете купить :<br/>
  1 килограмм, <br/>
1 литр,<br/>
или 3 литра понравившегося вам сорта.<br/>
</p>

<b>Доставка мёда</b>
<p>
Срок доставки составляет от 1 до 3 дней с момента размещения заказа.
Для бесплатной доставки вам необходимо  заказать 2 литра  или 3 килограмма мёда.  При этом вы можете заказать мёд разных сортов.
Если вы хотите купить мёд меньше указанного объёма, то стоимость доставки по Ростову, в Аксай или Батайск составит  200 рублей. 
</p>

</div>
</div>
