<div class="posts single">
  <h1>Как купить мёд</h1>

<div class="post">
<ol>
  <li>На страничке каталога продукции вы выбираете понравившийся сорт и переходите по соответствующей ему ссылке на страницу с подробным описанием и формой оформления заказа.</li>
  <li>Выбираете подходящую по объёму тару, указываете нужное количество товара и нажимаете кнопку «добавить в корзину».</li>
  <li>Затем переходите в корзину, проверяете заказ, заполняете форму с вашими контактными данными и отправляете заказ. В этот же день, если заказ отправлен не позднее 19 часов, с вами свяжется оператор и уточнит сроки доставки.</li>

</ol>

<p>
  Также, вы можете сделать заказ по телефону +7-928-604-78-34
</p>


<b>Уважаемый покупатель!</b>
<p>
  <br/>В нашем каталоге цена на мёд обозначена за 1 килограмм. Это значит, что любой из указанных сортов вы можете приобрести весом от 1 килограмм и более. <br/>
  Мы используем как стеклянную, так и пластиковую тару для фасовки мёда. В настоящее время вы можете купить :<br/>
  1 килограмм, <br/>
1 литр,<br/>
или 3 литра понравившегося вам сорта.<br/>
</p>

<b>Доставка мёда в Ростове на Дону:</b>

<p>
  Срок доставки составляет от 1 до 3 дней с момента размещения заказа.
  Доставка осуществляется  <b>бесплатно</b> при заказе <b>от 2-х литров или 3-х килограмм мёда</b>.
  При этом вы можете заказать мёд разных сортов. Если вы хотите купить мёд меньше указанного объёма, то стоимость доставки по Ростову, в Аксай или в Батайск составит 250 рублей.
</p>

<b>Доставка мёда в другие регионы России:</b>

<p>
  Доставка мёда в другие регионы России осуществляется через ФГУП «Почта России».
  <b>После поступления заказа</b>, по указанному вами адресу электронной почты будет направлено  письмо с условиями оплаты и доставки товара в ваш город.
</p>

<p>
  <b class="red">Внимание!</b> При оформлении заказа указывайте корректный адрес электронной почты и полный почтовый адрес доставки, с указанием почтового индекса, а также, фамилию, имя и отчество получателя.
</p>

<p>
  <b>В случае вашего согласия</b> с условиями оплаты и доставки товара, по электронной почте высылаются  реквизиты для оплаты, с указанием точной суммы за товар (мёд) и услуги доставки.
</p>

<p>
  <b>Форма оплаты - 100% предоплата.</b><br/>
  <b>После зачисления на наш расчётный счёт всей суммы</b> по оплате заказа и доставки, о чем  мы известим вас по e-mail или по телефону, товар будет выслан по указанному Вами адресу.
</p>

<b>Срок доставки</b> зависит от конкретного региона получателя.
</div>
</div>
