<%= render :partial => "home/article", :collection => @articles %>

			<div class="message">
				<h3>Обращение к покупателю</h3>
				<p>продукт питания, представляющий собой частично переваренный в зобе медоносной пчелы (Apis mellifera) нектар. Мёд содержит 13-20 % воды, 75-80 % углеводов (глюкоза, фруктоза, сахароза), витамины В1, В2, В6, Е, К, С, провитамин А-каротин, фолиевую кислоту. </p>
			</div><!-- END message -->
			<div class="products">
				<div class="product">
					<span class="top"></span>
					<img src="images/img.jpg" width="152" height="152" />
					<h4>Высокогорное разнотравье</h4>
					<span>Краснодарский край</span>
					<p>Мёд обладает широчайшей гаммой микроэлементов и витаминов оказывающих благотворное влияние на организм</p>
					<div class="price">
						<p>150 Р.</p>
						<a href="#" class="buy">Купить</a>
						<span>250гр.</span>
					</div>
				</div><!-- END product -->
				<div class="product">
					<span class="top"></span>
					<img src="images/img2.jpg" width="152" height="152" />
					<h4><a href="#">Высокогорное разнотравье</a></h4>
					<span>Краснодарский край</span>
					<p>Мёд обладает широчайшей гаммой микроэлементов и витаминов оказывающих благотворное влияние на организм</p>
					<div class="price">
						<p>150 Р.</p>
						<a href="#" class="buy">Купить</a>
						<span>250гр.</span>
					</div>
				</div><!-- END product -->
			</div><!-- END products -->
			<div class="posts">
				<h4>Статьи о мёде</h4>
				
				<div class="post">
					<h4><a href="#">Использование мёда в косметических целях</a></h4>
					<p>Как известно, со временем кожа начинает терять способность удерживать влагу, становится сухой и морщинистой. Это связано с угасанием функции сальных желёз. Однако этот процесс можно замедлить применением медовых масок, медовых ванн и другими косметическими процедурами и средствами на основе мёда. В данной статье мы остановимся на медовых масках. </p>
					<a href="#" class="more">Подробнее...</a>
				</div><!-- END post -->
				<div class="post">
					<h4><a href="#">Использование мёда в косметических целях</a></h4>
					<p>Как известно, со временем кожа начинает терять способность удерживать влагу, становится сухой и морщинистой. Это связано с угасанием функции сальных желёз. Однако этот процесс можно замедлить применением медовых масок, медовых ванн и другими косметическими процедурами и средствами на основе мёда. В данной статье мы остановимся на медовых масках. </p>
					<a href="#" class="more">Подробнее...</a>
				</div><!-- END post -->
				<div class="post">
					<h4><a href="#">Использование мёда в косметических целях</a></h4>
					<p>Как известно, со временем кожа начинает терять способность удерживать влагу, становится сухой и морщинистой. Это связано с угасанием функции сальных желёз. Однако этот процесс можно замедлить применением медовых масок, медовых ванн и другими косметическими процедурами и средствами на основе мёда. В данной статье мы остановимся на медовых масках. </p>
					<a href="#" class="more">Подробнее...</a>
				</div><!-- END post -->
			</div><!-- END posts -->
