<%#= render :partial => "home/article", :collection => @articles %>

			<div class="message">
				<h3>Обращение к покупателю</h3>
				<p>продукт питания, представляющий собой частично переваренный в зобе медоносной пчелы (Apis mellifera) нектар. Мёд содержит 13-20 % воды, 75-80 % углеводов (глюкоза, фруктоза, сахароза), витамины В1, В2, В6, Е, К, С, провитамин А-каротин, фолиевую кислоту. </p>
			</div><!-- END message -->
			<div class="products">
                            <%= render :partial => "stores/store", :collection => @stores %>
                        </div><!-- END products -->
			<div class="posts">
				<h4>Статьи о мёде</h4>
				
                                <%- @articles.each do |article| %>
				<div class="post">
                                      <h4><%= link_to article.name, category_article_path(article.category,article) %></h4>
                                      <p><%= truncate article.body, :length => 200 %> </p>
                                        <%= link_to "Подробнее...", article_path(article), :class=>"more"%>
				</div><!-- END post -->
                                <% end %>
			</div><!-- END posts -->
