<% content_for :map do %>
<script charset="utf-8" src="https://clck.yandex.ru/jclck/dtype=stred/pid=443/cid=71834/path=map/rnd=0.48028539191000164/*https://maps.yandex.ru/"></script>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&amp;lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
        // Как только будет загружен API и готов DOM, выполняем инициализацию
        //http://maps.yandex.ru/-/CVVyVW2n
        ymaps.ready(init);

        function init () {
            var myMap = new ymaps.Map("map", {
                    center: [44.268141, 38.863351],
                    zoom: 14,
                    type: "yandex#hybrid"
                }),

                // Создаем метку. При создании метки указываем ее свойство -  текст для отображения в иконке.38.863351,44.268141
                myPlacemark = new ymaps.Placemark([44.269837, 38.86172], {
                    // Свойства
                    // Текст метки
                    iconContent: 'Наша пасека'
                }, {
                    // Опции
                    // Иконка метки будет растягиваться под ее контент
                    preset: 'twirl#blueStretchyIcon'
                });

         // В метод add можно передать строковый идентификатор
            // элемента управления и его параметры.
            myMap.controls
                // Кнопка изменения масштаба
                .add('zoomControl')
                // Список типов карты
                .add('typeSelector')
                // Кнопка изменения масштаба - компактный вариант
                // Расположим её справа
                //.add('smallZoomControl', { right: 5, top: 75 })
                // Стандартный набор кнопок
                .add('mapTools');

            // Также в метод add можно передать экземпляр класса, реализующего определенный элемент управления.
            // Например, линейка масштаба ('scaleLine')
            myMap.controls
                .add(new ymaps.control.ScaleLine())
                // В конструкторе элемента управления можно задавать расширенные
                // параметры, например, тип карты в обзорной карте
                .add(new ymaps.control.MiniMap({
                    type: 'yandex#publicMap'
                }));


            // Добавляем метки на карту
            myMap.geoObjects
                .add(myPlacemark)
                .add(myGeoObject);
        }
    </script>

<% end %>
<%= title("Майский мед 2013 года :: Мед на дом") %>
<%= description("Мы начинаем подготовку пасеки к первому в этом году сбору майского меда!") %>

<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<div class="posts single">
  <h1>Майский мед 2013 года -- мы уже начали подготовку.</h1>
</div>

<div class="post">

  <p>

Вот и пришла весна нового 2013го года. В Краснодарском крае, там, где находится наша пасека, уже зацвели фруктовые деревья, лесные цветы и зазеленела трава. Пчёлы стали активнее вылетать на разведку и приносить первую пыльцу в улей. В эти весенние  месяцы мы проводим много работ на пасеке: ревизия пчелиных семей, их общего состояния, профилактика болезней пчёл и другие.

  </p>



  <div id="" style="clear: both; overflow: hidden; margin-bottom: 24px;">
    <p style="display: block;">
      <a class="fancybox" rel="gallery1" href="/images/med/1.JPG" title="Персиковый сад">
        <img src="/images/med/min/1.JPG" alt="Персиковый сад" width="180" height="135"/>
      </a>
      <a class="fancybox" rel="gallery1" href="/images/med/2.JPG" title="Веселая работа">
        <img src="/images/med/min/2.JPG" alt="Веселая работа" width="180" height="135"/>
      </a>
      <a class="fancybox" rel="gallery1" href="/images/med/3.JPG" title="Дымарь">
        <img src="/images/med/min/3.JPG" alt="Дымарь" width="180" height="135"/>
      </a>
    </p>
  </div>
  <p>

Но мы не только занимаемся подготовкой пчёл к новому сезону. Мы ещё и планируем передвижения нашей пасеки, продумываем маршрут для первого медосбора.

  </p>
  <p>

Полноценный медосбор в наших краях начинается с цветения кустарника клёна татарского (или черноклёна). У нас он зацветает в апреле. Потом мы собираем мёд с акации. Это и будет наш первый мёд, который все называют «майским». Состав майского мёда 2013 г. зависит от качества взятки, как с черноклёна, так и с акации. Бывает так, что в апреле-мае стоит тёплая и солнечная погода. Тогда мы делаем 2 качки:  черноклёновый мёд и акациевый. Иногда, если погода не такая удачная, у нас получается 1 качка, это майский мёд, в составе которого будет и черноклён и акация.

  </p>
  <div id="" style="clear: both; overflow: hidden; margin-bottom: 24px;">
    <p style="display: block;">
      <a class="fancybox" rel="gallery1" href="/images/med/4.JPG" title="Ищем матку">
        <img src="/images/med/min/4.JPG" alt="Ищем матку" width="180" height="135"/>
      </a>
      <a class="fancybox" rel="gallery1" href="/images/med/5.JPG" title="Начало работы">
        <img src="/images/med/min/5.JPG" alt="Начало работы" width="180" height="135"/>
      </a>
      <a class="fancybox" rel="gallery1" href="/images/med/6.JPG" title="Наши пчелы">
        <img src="/images/med/min/6.JPG" alt="Наши пчелы" width="180" height="135"/>
      </a>
    </p>
  </div>
  <p>

Как говорится: «весна да осень, на день погод восемь», и поэтому в это время года пчеловоды надеются на устойчивую погоду, чтобы успеть провести все необходимые работы на пасеке.

  </p>
  <p>

Мы тоже надеемся на лучшее и желаем и себе и остальным нашим коллегам-пчеловодам солнечной погоды, крепких и здоровых пчелосемей и минимум подмора! Потому-что, как говорит мой  папа-пчеловод: «в пчеловодстве упустишь день – потеряешь год!». За работу!

  </p>
  <div id="" style="clear: both; overflow: hidden; margin-bottom: 24px;">
    <p style="display: block;">
      <a class="fancybox" rel="gallery1" href="/images/med/7.JPG" title="Осмотр">
        <img src="/images/med/min/7.JPG" alt="Осмотр" width="180" height="135"/>
      </a>
      <a class="fancybox" rel="gallery1" href="/images/med/8.JPG" title="Природа просыпается">
        <img src="/images/med/min/8.JPG" alt="Природа просыпается" width="180" height="135" />
      </a>
      <a class="fancybox" rel="gallery1" href="/images/med/9.JPG" title="Труженницы">
        <img src="/images/med/min/9.JPG" alt="Труженницы" width="180" height="135" />
      </a>
    </p>
  </div>


<p>
  <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
  <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div>
</p>

<p>
  <div id="map" style="width:600px; height:600px">
  </div>
</p>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox({
      openEffect	: 'none',
      closeEffect	: 'none'
    });
  });
</script>



