<h4><%= container.name %></h4>
<br/>
<table border="0">
  <tr>
    <td align="left">
      <%= image_tag container.image.url(:medium), :id => "picture" %>
    </td>
  </tr>
  <tr>
    <td>
      <p><%= raw(container.description) %></p>
    </td>
  </tr>
</table>
