<%= title("Магазин меда :: Мед на дом") %>
<%= description(" Здесь вы можете заказать натуральный мёд с доставкой на дом, а также прочитать описание предлагаемых сортов.")%>
<div class="posts single">
  <h1><%= t(".title") %></h1>
</div>

<div class="post">
    <%= render :partial => "container", :collection => @containers %>
</div>