<div class="sidebar_block cart">
    <h2>Моя корзина</h2>
    <span id="shop-cart"><%= shop_cart.size%></span>
    <p>товара(-ов)</p>
    <a href="<%= shoping_carts_path %>">Посмотреть корзину</a>
</div><!-- END sidebar_block -->
